div#homeArticle
	
	div.hometitle
		h2 网站简介
		p 欢迎来到我的个人网站。先简单介绍一下。
		p 为了应对即将到来的毕业设计，以及为了给我日后的工作增加一个筹码，同时也可能在实习中用到这些知识，所以我在大三下的时候就有了建立一个个人网站的想法。但是实际编程比较迟，大三有心无力，水平差的太远。直到实习了几个月，我才大概弄懂了网站从前端到后端是如何跑通的，同事们也确实帮了我很多。就这一点，非常庆幸自己有机会实习。水平果然很low。
		p 这是我对未来的一个尝试。
		p 这个网站，应用了前端比较流行的一些技术框架。它的前端展示，是基于jQuery的bootstrap响应式框架，后端和数据库是基于node.js+mongoDB的组合。这个组合也是我之后的毕业设计将采用的组合，很棒，很快。别专业术语就不提了，估计看到这个的你也不喜欢看。我知道会被喷网站很丑，确实如此。在平面设计方面，我的知识实在是少的可怜。除此之外，网站的功能，代码的质量，项目的结构，都有待进一步的改进，这部分的工作量一点不比到目前为止的工作量小，我会在以后空闲时期进行完善。
		p 既然来了，就留下点脚印吧。
		p 大部分网站中，登录注册是必不可少的一环，但是在个人网站中，确实不应该有这个功能。但是没办法，毕设的时候肯定要用啊……还是得麻烦大家用英文或者拼音注册一下。这个注册很简单，没有任何（正则表达式）限制。最好请用你的微信名进行注册，这样留言的时候我就知道是谁了。以后这个功能一定会删掉的。在此谢过。
