- for (var i = 0; i < posts.length; i = i + 1)
	div.row
		div(style="margin-left:3%").col-md-11
			h2
				a(href='/u/'+posts[i].user)=posts[i].user 
					!='：'
			label
				p=posts[i].post
			p!='<small>' + posts[i].time + '</small>'
